
@import "tailwindcss";

:root {
  --font-edensor: 'Edensor';
  --font-openSans: 'Open Sans';
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
 --background: #ffffff;
  --foreground: #171717;
  }
 
}

@font-face {
  font-family: 'Edensor';
  src: url('/fonts/Edensor.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Sen';
  src: url('/fonts/Sen-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sen, sans-serif;
}

h1, h2, h4 {
  font-family: var(--font-edensor), sans-serif;
  font-size: 48px;
}

h3 {
    font-family: var(--font-edensor), sans-serif;
    font-weight: 400;

}

button {
  color: #49372B;
  background-color: #D7D1BE;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  color: #D7D1BE;
  background-color: #49352C;
}

p  {
  font-size: 18px;
  color:  #49352C;

}

ul {
  font-size: 18px;
  margin-top: 20px;

}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
